.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;
}

.site-header a {
  color: #333;
  font-size: $h3;
  font-weight: 300;
  background-image: none;
}

.site-header .site-title {
  font-size: $h2;
}

.site-nav {
  margin-top: $space-2;
}

.site-header nav a {
  color: #13294B;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: #E84A27;
  opacity: 1;
  border-bottom: 2px solid #13294B;
}

.site-nav a + a {
  margin-left: 1em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  // opacity: 0.88;
  color: #E84A27;
  opacity: 1;
  text-decoration: none
}
.post-meta, a:hover,
.post-meta, a:active{
  // opacity: 0.88;
  color: #E84A27;
  opacity: 1;
  text-decoration: none;
}


.posts .post .post-meta,
.posts .post .post-title,
.posts .post .post-summary {
  // opacity: 0.88;
  color: #13294B;
  text-decoration: none;
  opacity: 1;
}
.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}
